doctype html
html
    head
        title dino
        meta(charset="utf-8")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        link(href="./css/login.css", rel="stylesheet" type="text/css")
        script(href="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
        script(src="./js/jquery.min.js")
        script(src="./js/socket.io.js")
        script(src="./js/dino_p.js")
    body
        img(src = "./res/pic3.png")

        button(id="letter_icon" class='button' onclick="read_letter()")
            img(src = "./res/letter.png")
        
        
