doctype html
html
  head
    title LOG IN
    meta(charset="utf-8") 
    script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./css/login.css", rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
  body
    form(id="typein")
      input(id="name_input", type="text", name="name", placeholder="YOUR NAME")
      br
      input(id="password_input", type="password", name="password", placeholder="YOUR PASSWORD")
      br
      button(class="btn btn--stripe", id="login", type="submit") LOG IN
      a(href="l")
      a(href="register.html") SIGN UP
    h1(id="ajax-output")
    h1(id="pic")
    script(src="../js/log.js")
