doctype html
html
  head
    title LOG IN
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./css/login.css", rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
  body
    button(class='button' onclick="GoToParent()")
      img(src = "./res/parent.png")
    button(class='button' onclick="GoToChild()")
      img(src = "./res/child.png")
    script(src="./js/select.js")


